* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

body {
  background-color: #ffecdc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #1a1a1a; }

.wrap {
  width: 320px;
  background: #ffffff;
  margin: 0 auto; }

.header {
  height: 32px;
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e6e6e6; }
  .header__title {
    margin: 0 0;
    font-size: 24px;
    line-height: 24px;
    display: inline;
    font-family: "Times New Roman", Times, serif;
    margin: auto; }

.main__title {
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 24px;
  line-height: 24px; }

.enter-form {
  width: 300px;
  margin: 0 auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .enter-form__login-label, .enter-form__password-label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .enter-form__login-input, .enter-form__password-input {
    width: 250px;
    height: 30px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    font-size: 16px; }
  .enter-form__login-input:hover, .enter-form__password-input:hover {
    border: 2px solid #cccccc;
    padding: 0 4px 0 4px; }
  .enter-form__login-input:focus, .enter-form__password-input:focus {
    outline: none;
    border: 2px solid #cccccc;
    padding: 0 4px 0 4px; }
  .enter-form__login-input:active, .enter-form__password-input:active {
    outline: none;
    border: 2px solid #b3b3b3;
    padding: 0 4px 0 4px; }
  .enter-form__login-input::-webkit-input-placeholder, .enter-form__password-input::-webkit-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .enter-form__login-input:-ms-input-placeholder, .enter-form__password-input:-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .enter-form__login-input::-ms-input-placeholder, .enter-form__password-input::-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .enter-form__login-input::placeholder, .enter-form__password-input::placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .enter-form__error {
    font-size: 16px;
    line-height: 16px;
    color: #e62121;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px; }
  .enter-form__enter, .enter-form__registration {
    height: 40px;
    min-width: 120px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #1a1a1a;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 20px 0 20px;
    cursor: pointer;
    background-color: #ffffff; }
  .enter-form__enter:hover, .enter-form__registration:hover {
    background-color: #cccccc; }
  .enter-form__enter:focus, .enter-form__registration:focus {
    background-color: #cccccc;
    outline: none; }
  .enter-form__enter:active, .enter-form__registration:active {
    background-color: #b3b3b3; }

.rules {
  width: 300px;
  margin: 0 auto 10px auto;
  padding: 0 5px 0 5px; }
  .rules__title {
    margin: 10px auto 10px auto;
    text-align: center;
    font-size: 24px;
    line-height: 24px; }
  .rules__item {
    list-style: none;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 5px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__wrap {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 3; }
  .menu__link-wrap {
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .menu__link-wrap:last-child .menu__link {
    border-right: 1px solid #1a1a1a; }
  .menu__link {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 35px;
    min-width: 80px;
    font-size: 16px;
    font-weight: 700;
    color: #1a1a1a;
    line-height: 33px;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    border-left: 1px solid #1a1a1a;
    border-radius: 5px;
    background-color: #ffffff; }
  .menu__link:hover {
    background-color: #cccccc; }
  .menu__link:focus {
    background-color: #cccccc;
    outline: none; }
  .menu__link:active {
    background-color: #b3b3b3; }

.date-interval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px; }
  .date-interval__time-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    position: relative; }
  .date-interval__label {
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px; }
  .date-interval__input_wrap {
    width: 80px;
    height: 30px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
    opacity: 0; }
  .date-interval__input_wrap-position {
    left: 34px; }
  .date-interval__input {
    width: 85px;
    height: 10px;
    border: none;
    opacity: 0.5;
    position: absolute;
    top: -38px;
    left: -2px;
    outline: none;
    -webkit-transform: scale(8, 1.5) rotate(90deg);
    -ms-transform: scale(8, 1.5) rotate(90deg);
    transform: scale(8, 1.5) rotate(90deg); }
  .date-interval__display {
    width: 80px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer; }
  .date-interval__btn {
    width: 50px;
    height: 30px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #1a1a1a;
    font-weight: 400;
    padding: 0 5px 0 5px;
    cursor: pointer;
    background-color: #ffffff; }
  .date-interval__btn:hover {
    background-color: #cccccc; }
  .date-interval__btn:focus {
    background-color: #cccccc;
    outline: none; }
  .date-interval__btn:active {
    background-color: #b3b3b3; }
  .date-interval__error {
    font-size: 16px;
    line-height: 16px;
    color: #e62121;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none; }

.budget {
  width: 300px;
  padding: 5px 0 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.square-block {
  width: 145px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  border-radius: 10px; }
  .square-block__title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 5px; }
  .square-block__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .square-block__currency {
    font-size: 18px;
    line-height: 18px; }
  .square-block__total {
    font-size: 24px;
    line-height: 24px; }

.accumulation {
  width: 300px;
  margin: 5px auto; }
  .accumulation__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 5px 0; }
  .accumulation__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .accumulation__add-category {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    border-radius: 10px; }
  .accumulation__category-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 5px; }
  .accumulation__input {
    width: 235px;
    height: 30px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    font-size: 16px; }
  .accumulation__input:hover {
    border: 2px solid #b3b3b3;
    padding: 0 4px 0 4px; }
  .accumulation__input:focus {
    outline: none;
    border: 2px solid #b3b3b3;
    padding: 0 4px 0 4px; }
  .accumulation__input:active {
    outline: none;
    border: 2px solid #ffffff;
    padding: 0 4px 0 4px; }
  .accumulation__input::-webkit-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .accumulation__input:-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .accumulation__input::-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .accumulation__input::placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .accumulation__button {
    width: 50px;
    height: 30px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #1a1a1a;
    font-weight: 400;
    padding: 0 5px 0 5px;
    cursor: pointer;
    background-color: #ffffff; }
  .accumulation__button:hover {
    background-color: #cccccc; }
  .accumulation__button:focus {
    background-color: #cccccc;
    outline: none; }
  .accumulation__button:active {
    background-color: #b3b3b3; }

.settings {
  width: 300px;
  margin: 5px auto; }
  .settings__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 5px 0; }
  .settings__form {
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .settings__currencies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
    width: 290px; }
  .settings__item-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400; }
  .settings__label {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .settings__label-title {
    margin: 0 5px 0 5px; }
  .settings__checkbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .settings__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
  .settings__checkbox:checked + .settings__box {
    border: 2px solid #b3b3b3;
    background: #ffffff;
    background-image: url("../img/checkmark.svg"); }
  .settings__checkbox:focus + .settings__box {
    border: 2px solid #b3b3b3;
    background-color: #e6e6e6; }
  .settings__checkbox:hover + .settings__box {
    border: 2px solid #b3b3b3;
    background-color: #e6e6e6; }
  .settings__checkbox:disabled + .settings__box {
    background-color: #cccccc;
    border: 2px solid #cccccc; }
  .settings__checkbox:disabled:checked + .settings__box {
    background-color: #cccccc;
    background-image: url("../img/checkmarkDisabled.svg"); }
  .settings__box {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background: #ffffff; }
  .settings__accumulation {
    margin-bottom: 5px;
    width: 290px; }

.expense-table {
  border: 1px solid red;
  border-collapse: collapse;
  table-layout: fixed;
  width: 320px;
  margin: 5px 0 5px 0; }
  .expense-table__col-head {
    font-size: 18px;
    line-height: 22px;
    padding: 0 5px 0 5px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #1a1a1a;
    height: 25px;
    position: relative; }
  .expense-table__col-head_month {
    width: 80px; }
  .expense-table__col-head_curren {
    width: 25px; }
  .expense-table__col-head_sum {
    width: 95px; }
  .expense-table__col-head_comment {
    width: 95px; }
  .expense-table__col-head_del {
    width: 25px; }
  .expense-table__row:nth-child(odd) {
    background-color: #e6e6e6; }
  .expense-table__col {
    font-size: 18px;
    line-height: 22px;
    height: 25px;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    border: 1px solid #1a1a1a;
    position: relative; }
  .expense-table__col_month {
    font-size: 16px; }
  .expense-table__col_sum {
    text-align: right; }
  .expense-table__col_comment {
    text-align: left; }
  .expense-table__col_del {
    cursor: pointer; }
  .expense-table__col_del:hover {
    background-color: #cccccc; }
  .expense-table__col_del:active {
    background-color: #b3b3b3; }
  .expense-table__img_del {
    position: absolute;
    top: 2px;
    left: 2px; }
  .expense-table__row.expense-table__row_total {
    background-color: #ffffff; }

.add-expenses {
  width: 300px;
  margin: 5px auto; }
  .add-expenses__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 5px 0; }
  .add-expenses__form {
    background-color: white;
    width: 300px;
    padding: 5px 5px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .add-expenses__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 290px;
    margin-bottom: 5px; }
  .add-expenses__label-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400; }
  .add-expenses__label-required {
    color: #e62121; }
  .add-expenses__select {
    width: 150px;
    height: 30px;
    outline: none;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 0 4px 2px 0px;
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px;
    background-color: #ffffff; }
  .add-expenses__select:hover {
    border: 2px solid #cccccc;
    padding: 0 4px 2px 0px; }
  .add-expenses__select:focus {
    outline: none;
    border: 2px solid #cccccc;
    padding: 0 4px 2px 0px; }
  .add-expenses__select:active {
    outline: none;
    border: 2px solid #b3b3b3;
    padding: 0 4px 2px 0px; }
  .add-expenses__select::-webkit-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__select:-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__select::-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__select::placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__option {
    outline: none;
    border: none;
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__date-wrap {
    border-radius: 5px;
    width: 150px;
    height: 30px;
    position: relative;
    overflow: hidden; }
  .add-expenses__date-input {
    outline: none;
    border: none;
    width: 150px;
    height: 10px;
    position: absolute;
    top: -86px;
    left: -1px;
    -webkit-transform: scale(15, 1.5) rotate(90deg);
    -ms-transform: scale(15, 1.5) rotate(90deg);
    transform: scale(15, 1.5) rotate(90deg);
    opacity: 0;
    z-index: 2; }
  .add-expenses__date-input:hover + .add-expenses__date-visible {
    border: 2px solid #cccccc;
    padding: 4px 4px 4px 4px; }
  .add-expenses__date-input:focus + .add-expenses__date-visible {
    border: 2px solid #cccccc;
    padding: 4px 4px 4px 4px; }
  .add-expenses__date-input:active + .add-expenses__date-visible {
    border: 2px solid #b3b3b3;
    padding: 4px 4px 4px 4px; }
  .add-expenses__date-visible {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer; }
  .add-expenses__box {
    border: 2px solid #e6e6e6; }
  .add-expenses__input {
    width: 150px;
    height: 30px;
    outline: none;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    font-size: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .add-expenses__input:hover {
    border: 2px solid #cccccc;
    padding: 0 4px 0 4px; }
  .add-expenses__input:focus {
    outline: none;
    border: 2px solid #cccccc;
    padding: 0 4px 0 4px; }
  .add-expenses__input:active {
    outline: none;
    border: 2px solid #b3b3b3;
    padding: 0 4px 0 4px; }
  .add-expenses__input::-webkit-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__input:-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__input::-ms-input-placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__input::placeholder {
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .add-expenses__enter {
    height: 40px;
    min-width: 150px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #1a1a1a;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 20px 0 20px;
    cursor: pointer;
    background-color: #ffffff; }
  .add-expenses__enter:hover {
    background-color: #cccccc; }
  .add-expenses__enter:focus {
    background-color: #cccccc;
    outline: none; }
  .add-expenses__enter:active {
    background-color: #b3b3b3; }
  .add-expenses__logging {
    display: none;
    font-size: 16px;
    line-height: 16px;
    color: #e62121;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px; }

.settings__checkbox:checked + .add-expenses__box {
  border: 2px solid #b3b3b3;
  background: #ffffff;
  background-image: url("../img/checkmark.svg"); }

.settings__checkbox:focus + .add-expenses__box {
  border: 2px solid #cccccc;
  background-color: #e6e6e6; }

.settings__checkbox:hover + .add-expenses__box {
  border: 2px solid #cccccc;
  background-color: #e6e6e6; }

.settings__checkbox:disabled + .add-expenses__box {
  background-color: #cccccc;
  border: 2px solid #cccccc; }

.settings__checkbox:disabled:checked + .add-expenses__box {
  background-color: #cccccc;
  background-image: url("../img/checkmarkDisabled.svg"); }

.add-income__sub-title {
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 5px;
  text-align: center; }

.add-income__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 290px;
  margin-bottom: 5px; }

.add-income__input-wrap {
  position: relative;
  width: 150px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.add-income__input {
  width: 100px;
  height: 30px;
  outline: none;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 4px 0 4px;
  font-size: 16px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.add-income__input:hover {
  border: 2px solid #cccccc;
  padding: 0 4px 0 4px; }

.add-income__input:focus {
  outline: none;
  border: 2px solid #cccccc;
  padding: 0 4px 0 4px; }

.add-income__input:active {
  outline: none;
  border: 2px solid #b3b3b3;
  padding: 0 4px 0 4px; }

.add-income__input::-webkit-input-placeholder {
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 16px; }

.add-income__input:-ms-input-placeholder {
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 16px; }

.add-income__input::-ms-input-placeholder {
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 16px; }

.add-income__input::placeholder {
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 16px; }

.add-income__input_percent {
  width: 54px;
  position: absolute;
  top: 0px;
  right: -2px; }

.add-income__percent {
  position: absolute;
  top: 7px;
  right: 0px;
  font-size: 16px;
  line-height: 16px;
  width: 15px;
  height: 16px; }

.balance-table__col-head_month {
  width: 70px; }

.balance-table__col-head_curren {
  width: 25px; }

.balance-table__col-head_income {
  width: 75px; }

.balance-table__col-head_expenses {
  width: 75px; }

.balance-table__col-head_balance {
  width: 75px; }

.balance-table__col_expenses {
  text-align: right; }

.balance-table__col_balance {
  text-align: right; }

.add-balance__extra-item-income {
  display: none; }
