.date-interval
  display: flex
  justify-content: space-around
  margin-top: 5px
  margin-bottom: 5px

  &__time-wrap
    display: flex
    align-items: baseline
    position: relative

  &__label
    font-size: $mainFontSize
    line-height: $mainFontSize
    margin-right: 10px 

  &__input_wrap
    width: 80px 
    height: 30px
    border: 1px solid #4d4d4d
    border-radius: 5px
    position: absolute
    top: 0px
    left: 21px
    overflow: hidden
    opacity: 0
    
  &__input_wrap-position  
    left: 34px
  
  &__input
    width: 85px
    height: 10px
    border: none
    opacity: 0.5
    position: absolute
    top: -38px
    left: -2px
    outline: none
    transform: scale(8, 1.5) rotate(90deg);

  &__display
    width: 80px
    height: 30px
    background-color: $bgMobile     
    border: 2px solid $alternativeBGColor 
    border-radius: 5px
    padding: 5px 5px
    text-align: center
    font-size: $smallFontSize
    line-height: $smallFontSize
    cursor: pointer
    

  &__btn
    width: 50px
    height: 30px
    border: 1px solid $buttonBorderColor
    border-radius: 5px
    font-size: $btnFontSize
    line-height: $btnFontSize
    color: $mainFontColor
    font-weight: 400
    padding: 0 5px 0 5px
    cursor: pointer
    background-color: $buttonColor

  &__btn:hover
    background-color: $hoverColor


  &__btn:focus
    background-color: $focusColor
    outline: none

  &__btn:active
    background-color: $activeColor 

  &__error 
    font-size: $smallFontSize  
    line-height: $smallFontSize
    color: $errorFontColor
    text-align: center
    margin-top: 5px
    margin-bottom: 5px
    display: none

.budget
  width: 300px
  padding: 5px 0 0 0
  margin: 0 auto
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.square-block
  width: 145px 
  //border: 1px solid $buttonBorderColor
  padding: 5px
  margin-bottom: 10px
  background-color: $blockColor
  border-radius: 10px

  &__title
    font-size: $h3
    line-height: $h3
    font-weight: 700
    margin-bottom: 5px

  &__result
    display: flex  
    justify-content: space-between
    align-items: flex-end

  &__currency
    font-size: $fontSizeForCurrency
    line-height: $fontSizeForCurrency

  &__total    
    font-size: $fontSizeForTotal
    line-height: $fontSizeForTotal

.accumulation
  width: 300px
  margin: 5px auto

  &__title
    font-size: $h2
    line-height: $h2
    font-weight: 400
    text-align: center
    margin: 5px 0  

  &__blocks
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__add-category
    width: 300px  
    padding: 5px
    margin-bottom: 10px
    background-color: $blockColor
    border-radius: 10px

  &__category-title  
    font-size: $h3
    line-height: $h3
    font-weight: 700
    margin-bottom: 5px

  &__input
    width: 235px  
    height: 30px
    border: 2px solid $hoverColor
    border-radius: 5px
    padding: 0 4px 0 4px
    font-size: $smallFontSize  

  &__input:hover  
    border: 2px solid $activeColor
    padding: 0 4px 0 4px;

  &__input:focus  
    outline: none
    border: 2px solid $activeColor  
    padding: 0 4px 0 4px;

  &__input:active  
    outline: none
    border: 2px solid $bgMobile  
    padding: 0 4px 0 4px;

  &__input::placeholder 
    color: $mainFontColor
    font-family: $mainFont
    font-size: $smallFontSize
    line-height: $smallFontSize

  &__button  
    width: 50px
    height: 30px
    border: 1px solid $buttonBorderColor
    border-radius: 5px
    font-size: $btnFontSize
    line-height: $btnFontSize
    color: $mainFontColor
    font-weight: 400
    padding: 0 5px 0 5px
    cursor: pointer
    background-color: $buttonColor

  &__button:hover
    background-color: $hoverColor


  &__button:focus
    background-color: $focusColor
    outline: none

  &__button:active
    background-color: $activeColor 

.settings
  width: 300px
  margin: 5px auto  

  &__title
    font-size: $h2
    line-height: $h2
    font-weight: 400
    text-align: center
    margin: 0 0 5px 0

  &__form
    width: 300px  
    padding: 5px
    margin-bottom: 5px
    background-color: $blockColor
    border-radius: 10px  
    display: flex
    flex-direction: column
    align-items: center

  &__currencies
    display: flex
    justify-content: space-between
    align-items: center  
    margin-bottom: 5px
    width: 290px

  &__item-title
    font-size: $h3
    line-height: $h3
    font-weight: 400

  &__label 
    font-size: $h3
    line-height: $h3
    font-weight: 400  
    display: flex
    justify-content: space-between
    align-items: center

  &__label-title
    margin: 0 5px 0 5px

  &__checkbox-wrap
    display: flex
    justify-content: space-between
    align-items: center  

  &__checkbox
    position: absolute
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)

  &__checkbox:checked + .settings__box
    border: 2px solid $activeColor
    background: $bgMobile
    background-image: url("../img/checkmark.svg")

  &__checkbox:focus + .settings__box
    border: 2px solid $activeColor
    background-color: $blockColor

  &__checkbox:hover + .settings__box
    border: 2px solid $activeColor  
    background-color: $blockColor

  &__checkbox:disabled + .settings__box
    background-color: $hoverColor
    border: 2px solid $hoverColor

  &__checkbox:disabled:checked + .settings__box
    background-color: $hoverColor
    background-image: url("../img/checkmarkDisabled.svg")         

  &__box
    width: 30px
    height: 30px   
    display: inline-block
    border: 2px solid $hoverColor
    border-radius: 5px
    background: $bgMobile

  &__accumulation
    margin-bottom: 5px
    width: 290px

       





