$bgMobile: #ffffff
$mobileWith: 320px
$mainFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$mainFontSize: 18px
$mainFontColor: #1a1a1a 
// $mainFontColor-active: red
// $mainFontColor-hover: blue
// $mainFontColor-visited: black 
// $mainFontColor-focus: blue  
// temp values
$bodybg: #ffecdc


body
  background-color: $bodybg
  margin: 0
  font-family: $mainFont
  font-size: $mainFontSize
  line-height: $mainFontSize
  color: $mainFontColor


//Mobile CSS
@import mobile      