$bgMobile: #ffffff
$alternativeBGColor: #e6e6e6

$mobileWith: 320px

$h1: 24px
$h1Font: 'Times New Roman', Times, serif  
$h2: 24px  
$h3: 18px

$mainFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$mainFontSize: 18px
$smallFontSize: 16px

$fontSizeForTotal: 24px
$fontSizeForCurrency: 18px

$btnFontSize: 18px
$btnSmallFontSize: 16px
$mainFontColor: #1a1a1a 
$errorFontColor: #e62121

$FontSizeForColHead: 18px
$FontSizeForCol: 18px  



$buttonColor: #ffffff
$buttonBorderColor: #1a1a1a
$hoverColor: #cccccc
$focusColor: #cccccc
$activeColor: #b3b3b3
$blockColor: #e6e6e6

$bodybg: #ffecdc

*
  margin: 0
  box-sizing: border-box
  padding: 0

body
  background-color: $bodybg
  margin: 0
  font-family: $mainFont
  font-size: $mainFontSize
  line-height: $mainFontSize
  color: $mainFontColor


//Mobile CSS
@import mobile   
@import mobileDeskPage  
@import mobileExpensesPage   
@import mobileIncomePage  